aniso8601==8.0.0
apipkg==1.5
appdirs==1.4.3
atomicwrites==1.3.0
attrs==19.3.0
bcrypt==3.1.7
certifi==2019.9.11
cffi==1.14.0
chardet==3.0.4
click==7.1.1
colorama==0.4.3
distlib==0.3.0
dnspython==1.16.0
execnet==1.7.1
filelock==3.0.12
Flask==1.1.2
Flask-Bcrypt==0.7.1
Flask-Cors==3.0.8
Flask-JWT-Extended==3.24.1
Flask-PyMongo==2.3.0
Flask-RESTful==0.3.8
geographiclib==1.50
geopy==1.22.0
idna==2.8
importlib-metadata==1.6.0
importlib-resources==1.4.0
itsdangerous==1.1.0
Jinja2==2.11.1
MarkupSafe==1.1.1
more-itertools==8.2.0
nose==1.3.7
packaging==20.3
pluggy==0.13.1
py==1.8.1
pycparser==2.20
pyfiglet==0.8.post1
PyJWT==1.7.1
pymongo==3.10.1
pyparsing==2.4.7
pystache==0.5.4
pytest==5.4.1
pytest-cache==1.0
pytest-runner==5.2
pytz==2019.3
Random-Word==1.0.4
requests==2.22.0
six==1.14.0
static==1.1.1
urllib3==1.25.7
virtualenv==20.0.17
wcwidth==0.1.9
Werkzeug==1.0.1
zipp==3.1.0

bson~=0.5.10
decouple~=0.0.7